colab_fold/

data/

final_mm/

ProteinDJ/0*

tamarind_bio-boltzgen/config/
tamarind_bio-boltzgen/result-2vsm_nanob/intermediate_designs
tamarind_bio-boltzgen/result-2vsm_nanob/intermediate_designs_inverse_folded
tamarind_bio-boltzgen/result-2vsm_nanob/final_ranked_designs/final_2_designs
tamarind_bio-boltzgen/result-2vsm_nanob/final_ranked_designs/intermediate_ranked_10_designs

*.dcd

rational/models/chimera*
rational/FoldX.out1/out
rational/FoldX.out1/repaired